.forms{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.objective-forms{
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}